{% extends "base.html" %}
{% block title %}EmpreGO! - {{ word }} {% endblock %}

{% block content %}
{% if not vagas %}
<h1 class="text-center text-primary">Nenhuma vaga encontrada como '{{ word }}'.</h1>
{% else %}  
<h1  class="text-center text-primary">Vagas buscadas como: '{{ word }}'</h1>
{% endif %}


<div class="container">
    <div class="row mt-5">

        {% for vaga in vagas %}

            <div class="col-12 col-md-6 col-lg-4">
                {% include 'card.html' %}
            </div>

        {% endfor %}

        {% if not vagas %}
            <div class="col-12">
            </div>
        {% endif %}
    </div>


</div>
{% endblock %}