{% extends "base.html" %}

{% block title %}EmpreGO! - Painel da Empresa{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Painel da Empresa {{ nome_empresa }}</h1>
            <p><a href="/cadastrar_vaga" class="btn btn-success">Cadastrar Nova Vaga</a></p>
        </div>
    </div>

    <div class="row mt-4">
        <h2 class="style-5 mb-3 text-success">Vagas Ativas:</h2>
        {% if vagas_ativas %}
            {% for vaga in vagas_ativas %}
            <div class="col-12 col-md-6 col-lg-4 mb-4">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">{{ vaga.titulo }}</h5>
                    <p class="card-text">
                      <strong>Descrição:</strong> {{ vaga.descricao | truncate(50) }}<br>
                      <strong>Formato:</strong> {{ vaga.formato }}<br>
                      <strong>Tipo:</strong> {{ vaga.tipo }}
                    </p>
                    <a href="/editar_vaga/{{ vaga.id_vaga }}" class="btn btn-primary btn-sm me-2">Editar</a>
                    <a href="/status_vaga/{{ vaga.id_vaga }}" class="btn btn-warning btn-sm" onclick="return confirm('Tem certeza que deseja inativar esta empresa?')">Inativar</a>
                  </div>
                </div>                  
              </div>
            {% endfor %}
        {% else %}
            <p>Nenhuma vaga ativa no momento.</p>
        {% endif %}
    </div>

    <div class="row mt-4">
        <h2 class="style-5 mb-3 text-danger">Vagas Inativas:</h2>
        {% if vagas_inativas %}
            {% for vaga in vagas_inativas %}
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card">
                    <div class="card-body">
                    <h5 class="card-title">{{ vaga.titulo }}</h5>
                    <p class="card-text">
                        <strong>Descrição:</strong> {{ vaga.descricao | truncate(50) }}<br>
                        <strong>Formato:</strong> {{ vaga.formato }}<br>
                        <strong>Tipo:</strong> {{ vaga.tipo }}
                    </p>
                    <a href="/editar_vaga/{{ vaga.id_vaga }}" class="btn btn-primary btn-sm me-5">Editar</a>
                    <a href="/status_vaga/{{ vaga.id_vaga }}" class="btn btn-success btn-sm" onclick="return confirm('Tem certeza que deseja ativar esta empresa?')">Ativar</a>
                    <a href="/excluir_vaga/{{ vaga.id_vaga }}" class="btn btn-danger btn-sm" onclick="return confirm('Tem certeza que deseja excluir esta vaga?')">Excluir</a>
                    </div>
                </div>                  
            </div>
            {% endfor %}
        {% else %}
            <p>Nenhuma vaga inativa no momento.</p>
        {% endif %}
    </div>
</div>

{% endblock %}