{% extends "base.html" %}

{% block title %}EmpreGO! - Página Inicial{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-12">
                <h1>Encontre sua vaga ideal!</h1>
                <p>Explore as vagas mais recentes e dê o próximo passo na sua carreira.</p>

                
    {% if not login %}
    <form action="/procurar_vagas">
        <div class="mb-3">
            <input type="text" class="form-control" name="word" placeholder="Palavra-chave:" required style="width: 35%;">
        </div>
        <button type="submit" class="btn btn-primary">Buscar</button>
    </form>
{% endif %}

            {% if login == 'adm'%}
                <h1>Veja as vagas cadastradas pelas empresas</h1>
                    <a href="/adm" class="btn btn-success">Painel Administrador</a>
            {% endif %}
            {% if login == 'empresa' %}
                    <a href="/cadastrar_vaga" class="btn btn-success">Cadastrar Vaga</a>
            {% endif %}
        </div>
    </div>
        <div class="row mt-4">

            {% for vaga in vagas %}
                <div class="col-12 col-md-6 col-lg-4">
                    {% include 'card.html' %}
                </div>
            {% endfor %}
        </div>

    </div>

{% endblock %}